version: "3.9"

services:
  backend:
    build:
      context: ./backend-api-main/SistemaEstoqueApi
    container_name: backend
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./Projeto-Petrobras-develop
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend:3000
    depends_on:
      - backend
